<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChapterJetpack"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ChapterJetpack">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--   demo1: Nav Host Demo -->
        <activity
            android:name=".demo1.NavHostActivity"
            android:exported="false" />

        <!--   demo2: ModelView Counter Demo -->
        <activity
            android:name=".demo2.ModelViewCounterActivity"
            android:exported="false" />

        <!--   demo3: ModelView Counter Demo -->
        <activity
            android:name=".demo3.KtorClientActivity"
            android:exported="false" />

        <!--   demo4: StateFlow Counter Demo -->
        <activity
            android:name=".demo4.StateFlowCounterActivity"
            android:exported="false" />

        <!--   demo5: LifecycleScope Demo -->
        <activity
            android:name=".demo5.LifecycleScopeActivity"
            android:exported="false" />


        <!--   demo6: ViewModelScope Demo -->
        <activity
            android:name=".demo6.ViewModelScopeActivity"
            android:exported="false" />

    </application>

</manifest>