<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChapterDataStore"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ChapterDataStore">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--   demo1:  Simple Preference Demo -->
        <activity
            android:name=".demo1.SimplePreferenceActivity"
            android:exported="false" />

        <!--   demo2:  Internal File Demo -->
        <activity
            android:name=".demo2.InternalFileActivity"
            android:exported="false" />

        <!--   demo3: Resource File Demo -->
        <activity
            android:name=".demo3.ResourceFileActivity"
            android:exported="false" />

        <!--   demo4: Resource File Demo -->
        <activity
            android:name=".demo4.SQLiteActivity"
            android:exported="false" />

        <!--   demo5: Content Provider Demo -->
        <activity
            android:name=".demo5.ContentResolverActivity"
            android:exported="false" />

        <provider
            android:name=".demo5.PeopleProvider"
            android:authorities="edu.hrbeu.peopleprovider"
            android:exported="false" />


    </application>

</manifest>